.main {
    width: 100%;
    min-height: 20vh;
    /* background-color: #bde2ec; */
}

.header {
    color: #ecf1eb;
    font-family: Calistoga;
    font-size: 80px;
    text-align: center;
}

.searchInput{
    z-index: 1000;
}

@media screen and (max-width: 900px) {
    .header {
        font-size: 30px;
    }
}
