.mainContainer, .mainContainer1, .mainContainer2, .mainContainer3, .mainContainer4 {
    height: 200px;
    width: 95vw;
    margin-top: 15px;
    /* border: 2px solid black; */
    background-color: rgba(195, 245, 188, 0.781);
    display: flex;
    justify-content: flex-start;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mainContainer2{
    background-color: rgba(238, 188, 245, 0.781); 
}

.mainContainer3{
    background-color: rgba(233, 173, 165, 0.781); 
}

.mainContainer4{
    background-color: rgba(233, 220, 163, 0.781); 
}

.thumbnail {
    height: 182px;
    border: 9px solid #286d8070;
}

.contentCont{
    flex-grow: 1;
    display: flex;
}

.leftSide, .rightSide {
    width: 50%
}

.leftSide {
    /* border: 2px solid black; */

}

.notes{
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    height: 145px;
    background-color: rgba(255, 255, 255, 0.288);
    overflow: auto; 
    text-align: left;
    padding: 10px;
   
}

.delete {
    margin-top: 2px;
    font-size: 14px;
}

.delete:hover {
    color: #3e8ca2c4;
    cursor: pointer;
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'Tomorrow', sans-serif;
}
