.background {
    /* position: absolute; */
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(88, 173, 197) 0%, rgb(164, 205, 214) 45%, rgb(124, 172, 117) 100%);
    /* background: linear-gradient(180deg, rgba(62,140,162,1) 0%, rgba(146,189,197,1) 56%, rgba(236,241,235,1) 100%); */
}