.background {
    /* position: absolute; */
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(88, 173, 197) 0%, rgb(135, 191, 204) 80%, rgba(236,241,235,1) 100%);
}